/* TopBar.css */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* Light background */
    /* padding: 10px 15px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-bottom: 1px solid #e0e0e0; /* Subtle border */
    width: 100%;
    margin: 0 auto; /* Center the top bar */
    max-width: 1100px; /* Match the bookings-container width */
  }
  
  .top-bar-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .top-bar-icon {
    font-size: 1.2rem;
    color: #333333; /* Dark gray */
  }
  
  .top-bar-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333333; /* Dark gray */
    margin: 0;
    flex-grow: 1;
    text-align: center;
  }

  /* TopBar.css */
.top-bar-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}